<ion-content class="content-featured">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons class="ion-padding-start" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Food Delivery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    {{order.foods}}
    <ion-item *ngFor="let food of order.foods; index as i" lines="full">
      <ion-label>
        <ion-avatar slot="start">
          <img [src]="food.image" alt="" />
        </ion-avatar>
        <div class="rows">
          <div class="name">{{ food.name }}</div>
          <div class="ingredients">
            <span>
              {{ food.ingredients.join(", ") }}
            </span>
          </div>
          <div class="details">
            <div class="amount">
              <ion-icon
                (click)="remove(i)"
                name="remove-circle-outline"
              ></ion-icon>
              <span>
                {{ food.count }}
              </span>
              <ion-icon
                (click)="add(food)"
                name="add-circle-outline"
              ></ion-icon>
            </div>
            <div class="price">${{ food.price * food.count }}</div>
          </div>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="total-price" lines="none">
      <ion-label>
        <div>
          <span> Total: </span>
          <span>${{ order.price || "0" }} </span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="buttons">
    <ion-button (click)="sendOrder()"> Order </ion-button>
  </div>
</ion-content>
