ion-list {
  ion-item {
    ion-avatar {
      --border-radius: 10px;
    }

    ion-label {
      display: flex;
      align-items: center;
      ion-avatar {
        --border-radius: 10px;
        width: 30%;
      }
      div.rows {
        width: 70%;
        margin-left: 10px;
        div.name {
          font-weight: 500;
          font-size: 16px;
        }
        div.ingredients {
          margin: 2px 0px 5px 0px;
          > span {
            font-weight: 350;
            font-size: 12px;
          }
        }

        div.details {
          display: flex;
          align-items: center;

          span {
            font-size: 13px !important;
          }

          > span {
            margin-right: 10px;
            display: flex;
            align-items: center;
            > span {
              margin-left: 5px;
            }
          }
        }
      }

      ion-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  ion-item.header > ion-label:last-of-type {
    text-align: center;
  }
}
ion-content {
  ion-toolbar {
    --color: #fff;
  }
  ion-list {
    margin-top: 100px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
}
